@media only screen and (max-width: 600px) {
  body {
/*
  background-image: url('https://cdn.glitch.com/dad6f70b-d7f8-4b6b-812a-427943582a20%2FMaize_Maze_at_Metton_-_geograph.org.uk_-_24223.jpg?v=1587766237449');
  background-repeat: no-repeat;
  background-size: 150%;
 /* background-image: url('https://cdn.glitch.com/dad6f70b-d7f8-4b6b-812a-427943582a20%2FAnnotatedInbreeding.png?v=1574374257475');*/
  background-color: green; */
  }
  video {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

body {
  background-image: url("https://cdn.glitch.com/dad6f70b-d7f8-4b6b-812a-427943582a20%2FMaize_Maze_at_Metton_-_geograph.org.uk_-_24223.jpg?v=1587766237449");
  /* background-image: url('https://cdn.glitch.com/dad6f70b-d7f8-4b6b-812a-427943582a20%2FAnnotatedInbreeding.png?v=1574374257475'); */
  /* background-image: url('https://cdn.glitch.com/dad6f70b-d7f8-4b6b-812a-427943582a20%2FMaize_Maze_at_Metton_-_geograph.org.uk_-_24223.jpg?v=1587766237449')*/
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-style: italic;
  color: #373fff;
}

li {
  margin-bottom: 5px;
}
// use iframe, div, width: 100%, or something else??. Full width video would be ok.
video {
  width: 100%;
  height: auto;
  float: left;
}

#gameArea {
  position: absolute;
  visibility: visible;
  left: 20px; 
  top: 550px;
  width: 800px;
  height: 600px;
  z-index: 200; 
  left: 300;
}

#quotes {
  background-color: rgba(0, 255, 0, 0.5);
  margin-top: 530px;
  padding: 20px;
  width: auto;
  height: auto;
}

footer {
  margin-top: 10px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}